body{
    margin: 0;
    background-color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search{
    width: 700px;
    display: flex;
    margin: 5px auto;
    padding: 5px;
}

input{
    width: 70%;
    padding: 16px;
    font-size: 16px;
    color: beige;
    border: none;
    background-color: rgba(90, 90, 90, 0.638);

}

input:focus{
    outline: none;
    border: none;
}

.btn{
    background-color: red;
    color: white;
    width: 25%;
    border: none;
    font-size: 16px;
    cursor: pointer;
}